/* スタイル調整用 */
.w100 {
    width: 100%;
}

.m0auto {
    margin: 0 auto;
}

/* 各種メッセージ用 */
.message {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top:-20px;
    padding:10px 0;
}
.success {
    background-color: #3faf83;
}
.error {
    background-color: #D13E48;
}

/* フォームカスタマイズ */
div.input, select.input {
    margin-bottom: 10px;
}

.form_label {
    height: 34px;
    line-height: 34px;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
}

.form_input {
    display: block;
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form_radio {
    display: block;
    height: 34px;
    padding: 6px 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.view_input {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

.view_row_wrapper {
    border-bottom:1px solid #e5e5e5;
    margin-bottom: 20px;
}

.search_works_area {
    margin: 20px 0 40px;
}

.area_regist_works {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #333333;
}

.btn_area {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .submit_btn {
        width: 100%;
    }
    .edit_delete_btn {
        width: 49%;
    }
}

/* カードコンポーネント用 */
.card-wrapper {
    position: relative;
    padding: 0;
}
.card-wrapper::before {
    content: '';
    display: block;
    padding-top: 100%;
}
.card {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    color: #333;
    background: #fff;
    padding-top: 20%;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    transition: 0.5s;
}
.card:hover {
    top: 3%;
    box-shadow: 0 6px 10px #ccc;
}
.card-icon {
    width: 100%;
    height: auto;
    font-size: 10vw;
}

.card-content {
}
.card-title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

@media (min-width: 1200px) {
    .card {
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
}
